version: "3.9"

services:
  web:
    build: .
    container_name: django_app
    restart: always
    expose:
      - "8000"
    volumes:
      - static_volume:/static

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - static_volume:/static
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web

volumes:
  static_volume: